/*
Porfolio Web
Youssef Miftah El Baze
Diciembre 2024
*/

.btn, .fixed-button, .CV{
  background-color: rgb(255, 105, 255);
color: white;
transition: all 2s ease;

}
.btn:hover{
  background-color: violet;
}

.fixed-button:hover, .CV:hover {
  background-color: violet;
  color: black;
  transform: scale(1.06) translate(0px, 0px);
}
.menu, .footer {
  background: linear-gradient(90deg, rgba(197, 51, 255, 0.8) 0%, rgba(230, 133, 243, 0.8) 100%);
}
.amon {
  background-color: rgb(255, 197, 255);
}
.contenido {

  min-height: 80vh;
}
